.login-button {
	border-radius: 8px;
	border: 1px solid #000;
	background: #ff7647;
	box-shadow:
		2px 2px 0px 0px #000,
		3px 4px 9.2px 0px rgba(222, 222, 222, 0.48) inset;

	display: flex;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.navbar {
	background-image: url(../assets/images/image.png);
}

.navitem {
	@media screen and (max-width: 1185px) {
		display: none;
	}
}
